.about-section {
    background: linear-gradient(to bottom, $back-15 0, $back-2 75%, $back-25 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: $sectionPaddingTop 0;

    @media(max-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #about-content-row {

        margin-top: 3rem;

        .about-content-img {
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                text-align: center;
            }

            img {
                padding: 10px 15px;
                background-color: white;
                transition: all 250ms ease;
                max-width: 90%;
                border-radius: 4px;
                box-shadow: $cardboxshadow;
                @media(min-width: 768px) {
                    &:hover {
                        transform: scale(1.05)
                    }
                }
            }
        }

        .about-content-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }


}