.about-section {
    background: linear-gradient(to bottom, $back-15 0, $back-2 75%, $back-25 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 6rem 0;

    @media(max-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

}