.authors-section {
    background: linear-gradient(to bottom, $back-25 0, $back-1 75%, $back-15 100%), url("https://get.pxhere.com/photo/sky-bicycle-cycling-vehicle-cycle-sport-mountain-bike-mountainous-landforms-mountain-range-mountain-mountain-biking-recreation-alps-mode-of-transport-road-downhill-mountain-biking-mountain-pass-sports-equipment-tree-spoke-road-bicycle-bicycle-pedal-freeride-road-cycling-hill-hill-station-cloud-bicycle-wheel-ridge-thoroughfare-adventure-tourism-trail-mountain-bike-racing-bicycle-frame-holiday-hybrid-bicycle-wheel-valley-cross-country-cycling-1576559.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: $sectionPaddingTop 0;

    min-height: 100vh;

    @media(max-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .authors-content-row {

        margin-top: 3rem;

        .authors-content-img {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-align: center;
            }

            img {
                background-color: white;
                transition: all 250ms ease;
                max-width: 200px;
                border-radius: 4px;
                box-shadow: $cardboxshadow;

                @media(min-width: 768px) {
                    &:hover {
                        transform: scale(1.05)
                    }
                    max-width: 90%;
                }
            }
        }

        .authors-content-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

}
