$easing: cubic-bezier(.25, 1.7, .35, .8);
$duration: 0.5s;
$arrowwidth:20px;
$arrowheight:2px;

.compute-section {
    min-height: 100vh;
    padding-top: 6rem;
    background: linear-gradient(to bottom, $back-25 0, $back-1 75%, $back-15 100%),
        url('../img/abandoned-computer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    @media(max-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    p {
        margin-bottom: 3rem;
    }

    #results-more {
        position: absolute;
        max-width: 100px;
        padding: 10px;
        border-radius: 5px;
        right: -50px;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    }

    #compute-container {
        min-height: 100%;
        min-height: -moz-available;
        /* WebKit-based browsers will ignore this. */
        min-height: -webkit-fill-available;
        /* Mozilla-based browsers will ignore this. */
        min-height: fill-available;
    }

    #compute-form {
        color: white;
        margin-bottom: 2.5rem;

        label {
            margin: 0;
        }

        #compute-selects-row {
            justify-content: space-evenly;
            margin-bottom: 3rem;

            @media(max-width: 768px) {
                padding: 0 2rem;
            }

        }
    }

    #result-row {

        #result-card {

            margin: auto;
            background-color: $white;
            border-radius: 5px;
            // border-bottom: 5px solid $primary;
            padding: 2rem;
            box-shadow: $cardboxshadow;
            transition: all ease 250ms;

            &:hover {
                transform: scale(1.05)
            }

            .result-value {
                font-size: 3rem;
                font-weight: 200;
            }

            #result-unit {
                font-size: 1rem;
                color: $gray-700;
            }

            #result-details {
                padding: 0px 20px;

                #details-content {
                    transition: all ease 600ms;
                    overflow: hidden;
                    height: 0px;
                }

                #details-counts {
                    padding-top: 8px;
                }

                #details-alternative,
                #details-min-selected {
                    padding-top: 8px;
                }

                #details-separator {
                    width: 25%;
                    border-bottom: 1px solid lightgrey;
                    margin: auto;
                    padding-top: 8px;
                }

                #details-banner {
                    cursor: pointer;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    border-radius: 0px 0px 5px 5px;
                    background-color: $primary;
                    min-height: 21px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .arrow-icon {
                        height: 2.2em;
                        width: 2.8em;
                        display: block;
                        padding: 0.5em;
                        margin: 1em auto;
                        position: absolute;
                        cursor: pointer;
                        border-radius: 4px;
                    }

                    .left-bar {
                        position: absolute;
                        background-color: transparent;
                        top: 0;
                        left: 0;
                        width: $arrowwidth;
                        height: $arrowheight;
                        display: block;
                        transform: rotate(35deg);
                        float: right;
                        border-radius: 2px;

                        &:after {
                            content: "";
                            background-color: white;
                            width: $arrowwidth;
                            height: $arrowheight;
                            display: block;
                            float: right;
                            border-radius: 6px 10px 10px 6px;
                            transition: all $duration $easing;
                            z-index: -1;
                        }
                    }

                    .right-bar {
                        position: absolute;
                        background-color: transparent;
                        top: 0px;
                        left: 15px;
                        width: $arrowwidth;
                        height: $arrowheight;
                        display: block;
                        transform: rotate(-35deg);
                        float: right;
                        border-radius: 2px;

                        &:after {
                            content: "";
                            background-color: white;
                            width: $arrowwidth;
                            height: $arrowheight;
                            display: block;
                            float: right;
                            border-radius: 10px 6px 6px 10px;
                            transition: all $duration $easing;
                            z-index: -1;
                        }
                    }

                    .open {
                        .left-bar:after {
                            transform-origin: center center;
                            transform: rotate(-70deg);
                        }

                        .right-bar:after {
                            transform-origin: center center;
                            transform: rotate(70deg);
                        }

                    }



                }


            }

            .result-box {}

            #result-emitted {
                #emitted-unit {}

                #emitted-value {
                    color: orange;
                }
            }

            #result-offset {
                #offset-unit {}

                #offset-value {
                    color: green
                }
            }
        }
    }
}