.compute-section {
    min-height: 100vh;
    padding-top: $sectionPaddingTop;
    background: linear-gradient(to bottom, $back-25 0, $back-1 75%, $back-15 100%),
        url('https://raw.githubusercontent.com/mlco2/impact/master/img/computer.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    @media(max-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    p {
        margin-bottom: 1.5rem;
    }


    label {
        margin: 0;
        vertical-align: middle;
        text-align: center;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modalHelp {
        background-color: $primary;
        padding: 4px 13px;
        border: none;
        border-radius: 100px;
        color: $gray-100;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 8px;
    }

    .modal-body {
        color: $back-1;
        padding: 50px 80px;

        button {
            position: absolute;
            right: 30px;
            top: 30px;
        }

        ul {
            padding: 0;
        }

        li {
            list-style-type: none;
            padding-bottom: 20px;
        }

    }

    .modal-dialog {
        @media (min-width: 576px) {
            max-width: 600px;
            margin: 1.75rem auto;
        }
    }

    #results-more {
        @media(max-width: 768px) {
            max-width: 90px;
            right: -45px;
        }

        position: absolute;
        max-width: 100px;
        padding: 10px;
        border-radius: 5px;
        right: -50px;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2),
        0 1px 10px 0 rgba(0, 0, 0, 0.1);
    }

    #compute-container {
        min-height: 100%;
        min-height: -moz-available;
        /* WebKit-based browsers will ignore this. */
        min-height: -webkit-fill-available;
        /* Mozilla-based browsers will ignore this. */
        min-height: fill-available;
    }

    #compute-form {
        color: white;
        margin-bottom: 2.5rem;

        margin-top: 1.5rem;

        #compute-selects-row {
            justify-content: space-evenly;
            margin-bottom: 3rem;

            @media(max-width: 768px) {
                padding: 0 2rem;
            }

        }
    }

    #result-row {

        #result-card {

            margin: auto;
            background-color: $white;
            border-radius: 5px;
            // border-bottom: 5px solid $primary;
            padding: 2rem;
            box-shadow: $cardboxshadow;
            transition: all ease 250ms;

            @media(min-width: 768px) {
                &:hover {
                    transform: scale(1.05)
                }
            }

            .result-value {
                font-size: 3rem;
                font-weight: 200;
            }

            #result-unit {
                font-size: 1rem;
                color: $gray-700;
            }

            #result-details {
                padding: 0px 20px;

                #details-content {
                    transition: all $inOutExpo 600ms;
                    overflow: hidden;
                    height: 0px;
                }

                #details-counts {
                    padding-top: 8px;
                }

                #details-alternative,
                #details-min-selected {
                    padding-top: 8px;
                }

                #details-separator {
                    width: 25%;
                    border-bottom: 1px solid lightgrey;
                    margin: auto;
                    padding-top: 8px;
                }

                #details-banner {
                    cursor: pointer;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    border-radius: 0px 0px 5px 5px;
                    background-color: $primary;
                    min-height: 21px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }


            }

            // .result-box {}

            #result-emitted {
                // #emitted-unit {}

                #emitted-value {
                    color: orange;
                }
            }

            #result-offset {
                // #offset-unit {}

                #offset-value {
                    color: green
                }
            }
        }
    }

    #comparison-row {
        margin: auto;
        margin-top: 3rem;
        background-color: rgb(185, 185, 205);
        border-radius: 5px;
        // border-bottom: 5px solid $primary;
        padding: 2rem;
        box-shadow: $cardboxshadow;
        transition: all ease 250ms;
        justify-content: center;


        #comparison-card {
            text-align: center;
            width: 100%;


            h3 {
                font-size: 1.2rem;
                margin: auto;
                margin-bottom: 2rem;
            }

            .separator {
                width: 0;
                border-left: 1px solid $primary;
                margin-left: -1px;

                @media(max-width: 768px) {
                    display: none;
                }
            }


            a {
                color: rgba(0, 0, 0, 0.35);
                font-size: 0.8rem;

                &:hover {
                    color: rgba(0, 0, 0, 0.55);
                }
            }

            #comparison-columns-row {

                display: flex;
                justify-content: space-evenly;
                margin-bottom: 2rem;

                .comparison-column {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h4 {

                        color: $gray-800;
                        font-size: 1rem;
                        margin-bottom: 8px;
                        margin-top: 8px;
                    }

                    .comparison-result-item {
                        font-weight: bolder;
                        width: 100%;
                        color: $gray-800;
                    }

                    small {
                        color: rgba(0, 0, 0, .35);
                        font-size: 0.7rem;
                    }
                }
            }

        }
    }

}