.home-section {
    color: white;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(to bottom, $back-1 0, $back-2 75%, $back-25 100%), url("../img/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;


    h1 {
        font-family: 'Open Sans';
        font-size: 2.5rem;
        line-height: 3.5rem;
        letter-spacing: 0.8rem;
        color: white;
    }

    h2 {
        max-width: 20rem;
        font-size: 1rem;
    }

    @media(min-width: 768px) {
        h1 {
            font-size: 4rem;
            line-height: 6rem;
        }
    }

    @media(min-width: 992px) {
        height: 100vh;

        h1 {
            font-size: 6.5rem;
            line-height: 9.5rem;
            letter-spacing: 0.8rem;
        }

        h2 {
            max-width: 30rem;
            font-size: 1.25rem;
        }
    }
}
