.publish-section {
    background: linear-gradient(to bottom, $back-15 0, $back-2 75%, $back-25 100%),
        url('https://raw.githubusercontent.com/mlco2/impact/master/img/Lake-Tahoe-Scenic.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: $sectionPaddingTop 0;

    text-align: center;
}
