// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #161616 !default;

$primary: rgb(245, 82, 73) !default;
$secondary: rgb(199, 200, 200) !default;

$back-1:rgba(12, 31, 55, 0.9) !default;
$back-15:rgba(12, 31, 55, 1) !default;
$back-2:rgba(57, 74, 92, 0.9) !default;
$back-25:rgba(57, 74, 92, 1) !default;

$cardboxshadow: 6px 5px 15px 2px rgba(20, 20, 20, 0.7);
$arrowwidth:20px;
$arrowheight:2px;
$easing: cubic-bezier(.25, 1.7, .35, .8);
$duration: 0.5s;
$sectionPaddingTop: 4rem;
$inOutExpo: cubic-bezier(1, 0, 0, 1);